<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <!-- My style -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{css/style.css}"/>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
            integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>Create New Card</title>

    <style>
        body {
            background-color: #426D54;
        }

        @media {
            .container {
                max-width: 680px;
            }
        }

        @media (min-width: 0px) {
            .container {
                max-width: 500px;
            }
        }

        @media (min-width: 768px) {
            .container {
                max-width: 600px;
            }
        }

        @media (min-width: 992px) {
            .container {
                max-width: 680px;
            }
        }

        @media (min-width: 1200px) {
            .container {
                max-width: 680px;
            }
        }

        @media (min-width: 1400px) {
            .container {
                max-width: 680px;
            }
        }

        div.backform {
            background-color: #E1EDBD;
        }

        .form-check-input:checked {
            background-color: #426D54;
            border-color: #82B068;
        }

    </style>

</head>

<body>
<div class="container d-flex justify-content-center h-100 align-items-center p-0">
    <div class="row bg-white w-100">
        <div class="col border rounded p-4 backform">
            <h2>Новая визитная карточка</h2>
            <form method="post" th:action="@{/manage/create}">
                <div class="form-group mb-3">
                    <label for="handleInput">Ссылка на карточку*</label>
                    <div class="input-group">
                        <div class="input-group-text">/</div>
                        <input type="text" class="form-control" id="handleInput" placeholder="" th:name="handle"
                               required>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="descriptionInput">Краткое описание</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="descriptionInput" placeholder=""
                               th:name="description">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="profilePictureInput" class="form-label">Изображение профиля</label>
                    <input class="form-control" type="file" id="profilePictureInput" th:name="profilePicture">
                </div>

                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" style="transform: scale(1.33);"
                           id="businessIsActiveFlex"
                           th:name="businessIsActive" onchange="changeGroupVisibility('businessGroup')">
                    <label class="form-check-label mx-1" for="businessIsActiveFlex">Добавить конакты бизнеса</label>
                </div>

                <div id="businessGroup" hidden>
                    <div class="form-group mb-3">
                        <label for="businessNameInput">Название*</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="businessNameInput" placeholder=""
                                   th:name="businessName">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="businessWebsiteInput">Веб-сайт</label>
                        <div class="input-group">
                            <div class="input-group-text">www.</div>
                            <input type="text" class="form-control" id="businessWebsiteInput" placeholder=""
                                   th:name="businessWebsite">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="businessEmailInput">E-mail</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="businessEmailInput" placeholder=""
                                   th:name="businessEmail">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="businessPhoneInput">Номер телефона</label>
                        <div class="input-group">
                            <div class="input-group-text">+</div>
                            <input type="text" class="form-control" id="businessPhoneInput" placeholder=""
                                   th:name="businessPhone">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="businessTelegramInput">Telegram</label>
                        <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input type="text" class="form-control" id="businessTelegramInput" placeholder=""
                                   th:name="businessTelegram">
                        </div>
                    </div>
                </div>

                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" style="transform: scale(1.33);"
                           id="personIsActiveFlex" th:name="personIsActive"
                           onchange="changeGroupVisibility('personGroup')">
                    <label class="form-check-label mx-1" for="personIsActiveFlex">Добавить личные контакты</label>
                </div>

                <div id="personGroup" hidden>
                    <div class="form-group mb-3">
                        <label for="personNameInput">Имя*</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="personNameInput" placeholder=""
                                   th:name="personName">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="personWebsiteInput">Веб-сайт</label>
                        <div class="input-group">
                            <div class="input-group-text">www.</div>
                            <input type="text" class="form-control" id="personWebsiteInput" placeholder=""
                                   th:name="personWebsite">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="personEmailInput">E-mail</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="personEmailInput" placeholder=""
                                   th:name="personEmail">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="personPhoneInput">Номер телефона</label>
                        <div class="input-group">
                            <div class="input-group-text">+</div>
                            <input type="text" class="form-control" id="personPhoneInput" placeholder=""
                                   th:name="personPhone">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="personTelegramInput">Telegram</label>
                        <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input type="text" class="form-control" id="personTelegramInput" placeholder=""
                                   th:name="personTelegram">
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Generate</button>
            </form>
        </div>
    </div>

    <script>
        function changeGroupVisibility(id) {
            document.getElementById(id).hidden = !document.getElementById(id).hidden
        }
    </script>

</div>

</body>
</html>
